@import '../../../../styles/variables.less';

.wrapper {
  padding: 0 @--spacer-xs;

  & .product-img {
    width: 100%;
    margin-bottom: @--spacer-m;
  }

  & .title {
    overflow: hidden;
    margin-bottom: @--spacer-xs;
    font-family: @--font-family-semibold;
    font-size: @--font-size-18;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 0.56rem;
    white-space: nowrap;
  }

  & .subtitle {
    overflow: hidden;
    display: -webkit-box;
    font-family: @--font-family-light;
    font-size: @--font-size-15;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 0.44rem;

    /* autoprefixer: off */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* autoprefixer: on */
  }
}
