@import '../../../styles/variables.less';

.spinner-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;

  &.part {
    position: absolute;
  }
}

.type-unready {
  height: 100%;
  background: url('/Content/spinner_black.svg') center 40% no-repeat;
  background-size: 0.8rem auto;
}

.type-processing {
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url('/Content/spinner_white.svg') center 40% no-repeat;
  background-size: 0.8rem auto;
}

.type-plp {
  height: 100%;
  overflow: hidden;
  margin-top: 1.06rem;
  background: @--color-white;

  & .list {
    display: flex;
    flex-flow: row wrap;

    & .list-item {
      width: 50%;
      padding: 0.46rem 0.5rem 0.24rem;
    }

    & .img-block {
      padding-bottom: 130%;
    }

    & .desc-block-1 {
      height: 0.26rem;
      margin-top: 0.5rem;
    }

    & .desc-block-2 {
      width: 60%;
      height: 0.26rem;
      margin: 0.22rem auto;
    }

    & .desc-block-3 {
      width: 37%;
      height: 0.26rem;
      margin: 0.22rem auto 0;
    }
  }
}

.type-pdp {
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  background: @--color-white;

  & .img-block {
    padding-bottom: 132%;
  }

  & .desc-block-1 {
    width: 31%;
    height: 0.4rem;
    margin: 0.42rem auto 0;
  }

  & .desc-block-2 {
    width: 79%;
    height: 0.26rem;
    margin: 0.16rem auto 0;
  }

  & .desc-block-3 {
    width: 49%;
    height: 0.26rem;
    margin: 0.16rem auto 0;
  }

  & .desc-block-4 {
    width: 31%;
    height: 0.8rem;
    margin: 0.32rem auto 0;
  }
}

.type-homepage {
  height: 100%;
  overflow: hidden;
  padding: 0 0.48rem;
  background: @--color-white;

  & .header {
    height: 1.06rem;

    & .header-left {
      width: 2.22rem;
      height: 0.38rem;
      margin: 0.34rem 0 0 0.48rem;
      float: left;
    }

    & .header-right {
      width: 1rem;
      height: 0.38rem;
      margin: 0.34rem 0.48rem 0 0;
      float: right;
    }
  }

  & .banner-block {
    height: 1.04rem;
    margin: 0 -0.48rem;
  }

  & .category-title {
    width: 2.22rem;
    height: 0.5rem;
    margin: 0.52rem auto;
  }

  & .img-block {
    padding-bottom: 60%;
  }

  & .item-blocks {
    overflow: hidden;
    margin-top: 0.96rem;

    & .item-block-left {
      width: 42%;
      padding-bottom: 130%;
      float: left;
    }

    & .item-block-right {
      width: 42%;
      padding-bottom: 130%;
      float: right;
    }
  }
}

.type-slideproducts {
  & .slide-list {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: calc(@--spacer-m + @--spacer-s) 0 @--spacer-m 0;
    padding: 1rem 0 0 @--spacer-s;
    list-style: none;
    white-space: nowrap;

    & .list-item {
      margin-right: 1rem;
      display: inline-block;
    }

    & .img-block {
      width: 3.5rem;
      height: 4.58rem;
    }

    & .desc-block-1 {
      width: 60%;
      height: 0.26rem;
      margin: calc(@--spacer-xs + @--spacer-xxs) auto @--spacer-xs auto;
    }

    & .desc-block-2 {
      height: 0.26rem;
    }
  }
}

.spinner-block {
  background: linear-gradient(to right, #f5f5f5 25%, #e9e9e9 50%, #f5f5f5 75%);
  background-size: 400% 100%;
  animation: gradientScroll 2s infinite;
  animation-timing-function: linear;
  transition: 'background-position'2s;
}

@keyframes gradientScroll {
  0% {
    background-position: 100% 0;
  }

  25% {
    background-position: 75% 0;
  }

  75% {
    background-position: 25% 0;
  }

  100% {
    background-position: 0 0;
  }
}
