@import '../../../styles/variables.less';

.brands-wrapper {
  position: relative;
  height: 100%;
  .fav-toggle {
    padding: .24rem 0 .24rem .32rem;
    background: @--color-white;
  }
  .brand-groups {
    position: absolute;
    top: .84rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .group {
    margin: 0 .6rem .48rem .32rem;
  }
  .group-header {
    position: sticky;
    z-index: 1;
    top: 0;
    font-family: @--font-family-polc;
    font-size: @--font-size-18;
    line-height: .56rem;
    margin-bottom: .16rem;
    background: @--color-white;
  }
  .brand-item {
    position: relative;
    font-size: @--font-size-12;
    padding: .24rem 0;
    border-bottom: 0.02rem solid @--color-off-white;
    .fav {
      position: absolute;
      top: 0;
      right: 0;
      width: .84rem;
      height: .84rem;
      background: url('../../../assets/Category/icon_fav.svg') right center / .32rem .32rem no-repeat;
    }
  }
}