@import '../../styles/variables.less';

.category-wrapper {
  .sidebar-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 1.16rem;
    bottom: 0;
    width: 20%;
    border-right: 0.02rem solid @--color-off-white;
    .sidebar-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.04rem;
      font-size: .24rem;
      &.active {
        font-weight: bold;
        background: @--color-light-grey;
      }
    }
  }
  .content-wrapper {
    position: fixed;
    z-index: 1;
    left: 20%;
    right: 0;
    top: 1.16rem;
    bottom: 0;
    overflow-y: auto;
  }
}