@import '../../../styles/variables.less';

.textwithlink-container {
  margin-bottom: @--spacer-m;
  padding: 0 @--spacer-m;
  text-align: center;
}

.textwithlink-title {
  overflow: hidden;
  margin-bottom: @--spacer-xs;
  font-family: @--font-family-semibold;
  font-size: @--font-size-18;
  text-overflow: ellipsis;
  line-height: 0.56rem;
  white-space: nowrap;
}

.textwithlink-text-list {
  margin: 0;
  list-style: none;
}

.textwithlink-text-item {
  overflow: hidden;
  margin: 0;
  padding-bottom: @--spacer-xs;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  text-overflow: ellipsis;
  line-height: 0.44rem;
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}
