@import "../../../styles/variables.less";

.wrapper {
  margin: 0 @--spacer-m @--spacer-m;

  & .title {
    font-family: @--font-family-semibold;
    font-size: @--font-size-18;
    font-weight: bold;
    line-height: 0.56rem;
  }

  & .content {
    padding-top: @--spacer-xs;
    font-family: @--font-family-light;
    font-size: @--font-size-15;
    line-height: 0.44rem;
  }
}
