@import '../../../../styles/variables.less';

.slide-products-item {
  text-align: center;
}

.slide-products-img {
  width: 100%;
  padding-top: 106%;
  background-size: auto 79%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: @--color-off-white;
  background-blend-mode: multiply;
}

.slide-products-brand {
  overflow: hidden;
  margin-top: calc(@--spacer-xs + @--spacer-xxs);
  font-family: @--font-family-polc;
  font-size: @--font-size-14;
  font-weight: bold;
  text-overflow: ellipsis;
  line-height: 0.46rem;
  white-space: nowrap;
  letter-spacing: 0.03rem;
}

.slide-products-desc {
  overflow: hidden;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  text-overflow: ellipsis;
  line-height: 0.44rem;
  white-space: nowrap;
}
