@import '../../../styles/variables.less';

.wrapper {
  margin-bottom: @--spacer-m;

  & .title {
    overflow: hidden;
    margin-bottom: @--spacer-m;
    padding: 0 @--spacer-m;
    color: @--color-dark;
    font-family: @--font-family-semibold;
    font-size: @--font-size-18;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 0.56rem;
    white-space: nowrap;
  }

  & .product-list-wrap {
    margin: 0;
    padding: 0 @--spacer-s;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  & .product-item-wrap {
    width: 50%;
    margin: 0 0 @--spacer-m;
  }

  & .see-all {
    width: 3.68rem;
    height: 0.88rem;
    margin: 0 auto;
    background-color: @--color-dark;
    border-radius: @--border-radius;
    color: @--color-white;
    font-family: @--font-family-medium;
    font-size: @--font-size-15;
    text-align: center;
    line-height: 0.88rem;
  }
}
