@import '../../styles/variables.less';

.wrapper {
  margin: 0.48rem;

  & .title {
    font-size: 0.36rem;
    font-weight: bold;
    margin-bottom: 0.36rem;
  }

  & .tierInfo {
    margin-bottom: 0.48rem;

    .iconBox {
      margin-bottom: 0.24rem;

      & .iconAccess {
        display: inline-flex;
        width: 2.9rem;
        height: 0.48rem;
        margin-right: 0.24rem;
        background: url('../../assets/Loyalty/icon_access.svg') center/auto no-repeat;
        // background-size: auto 100%;
      }

      & .iconTier {
        display: inline-flex;
        width: 1.44rem;
        height: 0.36rem;

        &.bg-Bronze {
          background: url('../../assets/Loyalty/bronze/icon_bronze.svg') center/auto no-repeat;
        }

        &.bg-Silver {
          background: url('../../assets/Loyalty/silver/icon_silver.svg') center/auto no-repeat;
        }

        &.bg-Gold {
          background: url('../../assets/Loyalty/gold/icon_gold.svg') center/auto no-repeat;
        }
      }
    }

    .line {
      margin-bottom: 0.48rem;
    }
  }

  & .tierCard {
    color: #fff;
    padding: 0.48rem;
    margin-bottom: 0.6rem;

    &.bg-Bronze {
      background: linear-gradient(45deg, #5B3931, #E78F7C);
    }

    &.bg-Silver {
      background: linear-gradient(45deg, #262E37, #85A4C3);
    }

    &.bg-Gold {
      background: linear-gradient(45deg, #5B492D, #E7B973);
    }

    &.bg-Platinum {
      background: linear-gradient(45deg, #313439, #BFCADF);
    }

    & .iconAccess {
      display: inline-flex;
      width: 2rem;
      height: 0.32rem;
      margin-right: 0.24rem;
      background: url('../../assets/Loyalty/icon_access_light.svg') center no-repeat;
      background-size: auto 100%;
    }

    & .iconTier {
      display: inline-flex;
      width: 0.88rem;
      height: 0.22rem;
      background-size: auto 100%;

      &.bg-Bronze {
        background: url('../../assets/Loyalty/bronze/icon_bronze_light.svg') center no-repeat;
      }

      &.bg-Silver {
        background: url('../../assets/Loyalty/silver/icon_silver_light.svg') center no-repeat;
      }

      &.bg-Gold {
        background: url('../../assets/Loyalty/gold/icon_gold_light.svg') center no-repeat;
      }
    }

    .dateInfo {
      font-size: 0.20rem;
      padding-top: 0.12rem;
    }

    & .tierLevel {
      margin: 0.24rem 0;
      padding: 0.04rem;
      background: rgba(255, 255, 255, 0.45);
      border-radius: 0.12rem;

      .bar {
        height: 0.16rem;
        border-radius: 0.08rem;
        background-color: #fff;
        animation: progress 2s ease-in-out;
      }
    }

    .priceInfo {
      display: flex;
      justify-content: space-between;
      font-size: 0.20rem;
    }

    .upgradeInfo {
      font-size: 0.24rem;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .iconArrow {
        width: 0.4rem;
        height: 0.4rem;
        margin-left: 0.6rem;
        display: inline-flex;
        background: url('../../assets/Loyalty/icon_arrow_right.svg') center/auto no-repeat;
      }
    }

    .line {
      margin-bottom: 0.48rem;
    }
  }

  & .benefitsWrapper {
    margin-bottom: 0.48rem;

    .subTitle {}
  }

  & .upcomingBenefits {
    margin: 0 -0.48rem 0.6rem;
    padding: 0.48rem;
    background-color: #F5F5F5;
  }

  & .activityList {
    margin: 0 -0.48rem 0.48rem;
    .card-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: .48rem;
      overflow: scroll;
      .card-item {
        flex: none;
        width: 4rem;
        margin-right: .48rem;
        font-size: .24rem;
        line-height: .36rem;
        border: 0.02rem solid rgba(34, 34, 34, .1);
      }
      .card-image {
        padding-top: 100%;
        background-size: cover;
      }
      .card-title {
        padding: 0 .32rem;
        margin-top: .24rem;
      }
      .card-subtitle {
        padding: 0 .32rem;
        margin: .16rem 0;
        color: #bfbfbf;
      }
    }
  }

  & .faqWrapper {
    .intro {
      font-family: @--font-family-light;
    }
  }

  .benefitList {
    .item {
      display: flex;
      align-items: center;
      margin: 0.24rem 0;

      .icon {
        width: 0.48rem;
        height: 0.48rem;
        margin: 0.24rem 0.12rem;
        background: url('../../assets/Loyalty/bronze/icon_gift.svg') center no-repeat;
        background-size: auto 100%;
      }

      .text {
        flex-grow: 1;
        margin-left: 0.24rem;
        font-family: @--font-family-light;

        .subText {
          font-size: 0.24rem;
          color: #bfbfbf;
        }
      }

      .iconArrow {
        width: 0.3rem;
        height: 0.3rem;
        margin: 0 0.24rem 0 0.6rem;
        display: inline-flex;
        background: url('../../assets/Loyalty/icon_arrow_dark.svg') center/auto no-repeat;
      }
    }
  }
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
