@font-face {
  font-family: PolarisCondensed;
  font-weight: bold;
  font-style: normal;
  // src: url('https://cdn-static.farfetch-contents.com/wechat/miniprogram/STL/fonts/PolarisCondensed-Bold.otf') format('opentype');
  src: url('/fonts/PolarisCondensed-Bold.otf') format('opentype');
}

@font-face {
  font-family: PolarisCondensed;
  font-weight: lighter;
  font-style: normal;
  // src: url('https://cdn-static.farfetch-contents.com/wechat/miniprogram/STL/fonts/PolarisCondensed-Light.otf') format('opentype');
  src: url('/fonts/PolarisCondensed-Light.otf') format('opentype');
}

@font-face {
  font-family: PolarisCondensed;
  font-weight: normal;
  font-style: normal;
  // src: url('https://cdn-static.farfetch-contents.com/wechat/miniprogram/STL/fonts/PolarisCondensed-Medium.otf') format('opentype');
  src: url('/fonts/PolarisCondensed-Medium.otf') format('opentype');
}
