@--font-family-light: PingFangSC-Light, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
@--font-family-semibold: PingFangSC-Semibold, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
@--font-family-regular: PingFangSC-Regular, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
@--font-family-medium: PingFangSC-Medium, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
@--font-family-polc: PolarisCondensed;

@--color-white: #FFF;
@--color-red: #FC5D65;
@--color-gold: #C4AA84;
@--color-dark: #222;
@--color-black: #000;
@--color-blue: #00B0FF;
@--color-off-white: #F5F5F5;
@--color-light-grey: #E5E5E5;
@--color-medium-grey: #B6B6B6;
@--color-grey: #E6E6E6;
@--color-dark-grey: #888;
@--color-green: #1CD467;
@--color-message: #F1F1D4;
@--color-success: #1CD467;
@--color-alert: #DFAE64;
@--color-error: #FC5D65;
@--color-border-grey: #F0F0F0;

@--font-size-18: 0.36rem;
@--font-size-17: 0.34rem;
@--font-size-16: 0.32rem;
@--font-size-15: 0.30rem;
@--font-size-14: 0.28rem;
@--font-size-13: 0.26rem;
@--font-size-12: 0.24rem;

@--spacer-xxs: 0.08rem;
@--spacer-xs: 0.12rem;
@--spacer-xsp: 0.16rem;
@--spacer-s: 0.24rem;
@--spacer-m: 0.48rem;

@--border-radius: 0.08rem;
