@import '../../../styles//variables.less';

.qa-wrapper {
  margin-bottom: @--spacer-m;
  padding: 0 @--spacer-m;
}

.qa-title {
  overflow: hidden;
  margin-bottom: @--spacer-xs;
  font-family: @--font-family-semibold;
  font-size: @--font-size-18;
  text-overflow: ellipsis;
  line-height: 0.56rem;
  white-space: nowrap;
}

.qa-item-wrapper {
  margin-top: @--spacer-m;
}

.qa-item-wrapper:first-child {
  margin-top: 0;
}

.qa-item-title {
  font-family: @--font-family-medium;
  font-size: @--font-size-15;
  line-height: 0.44rem;
}

.qa-item-content {
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  line-height: 0.44rem;
}

.text-eclips-lines {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;

  /* autoprefixer: off */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  /* autoprefixer: on */
}
