@import '../../../styles/variables.less';

.main-ctg-wrapper {
  .main-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.64rem;
    margin-bottom: .12rem;
    color: @--color-white;
    background-size: cover;
    .desc {
      padding-left: .32rem;
      .title {
        font-size: @--font-size-15;
        line-height: .48rem;
      }
      .subtitle {
        font-size: @--font-size-12;
        font-family: @--font-family-light;
      }
    }
  }
}