@import '../../../styles/variables.less';

.slide-products-container {
  position: relative;
  margin-bottom: @--spacer-m;
  text-align: center;
}

.slide-products-isloading {
  min-height: 7.4rem;
}

.slide-products-title {
  overflow: hidden;
  padding: 0 @--spacer-m;
  font-family: @--font-family-semibold;
  font-size: @--font-size-18;
  font-weight: 500;
  text-overflow: ellipsis;
  line-height: 0.56rem;
  white-space: nowrap;
}

.slide-products-subtitle {
  overflow: hidden;
  margin-top: @--spacer-xs;
  padding: 0 @--spacer-m;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  text-overflow: ellipsis;
  line-height: 0.44rem;
  white-space: nowrap;
}

.slide-products-list {
  overflow: hidden;
  margin-top: calc(@--spacer-m + @--spacer-s);
}

.slide-products {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: -0.1rem;
  padding: 0 0 0.1rem @--spacer-s;
  list-style: none;
  white-space: nowrap;
}

.slide-products-itemwrap {
  width: 59.5%;
  margin: 0 @--spacer-s 0 0;
  display: inline-block;
}

.slide-products-btn {
  width: 4.3rem;
  margin: calc(@--spacer-m + @--spacer-s) auto 0 auto;
  padding: 0.22rem 0;
  border: none;
  outline: none;
  background: @--color-dark;
  border-radius: @--spacer-xxs;
  color: @--color-white;
  font-family: @--font-family-medium;
  font-size: @--font-size-15;
  line-height: 0.44rem;
  appearance: none;
}
