@import '../../../../styles/variables.less';

.product-item {
  box-sizing: border-box;
  position: relative;
  text-align: center;

  & .product-img {
    margin: 0 @--spacer-s @--spacer-s;
    padding-top: 108%;
    background-position: center;
    background-size: auto 87%;
    background-repeat: no-repeat;
  }

  &.product-transpanret {
    & .product-img {
      margin: 0 @--spacer-s calc(@--spacer-xs + @--spacer-xxs);
      padding-top: 103%;
      background-size: auto 85%;
      background-color: @--color-off-white;
      background-blend-mode: multiply;
    }
  }

  & .price-box {
    margin-top: @--spacer-s;
    display: flex;
    justify-content: center;

    & .price-without-discount {
      color: @--color-dark;
      font-family: @--font-family-light;
      font-size: @--font-size-15;
      line-height: 0.44rem;
    }

    & .price {
      margin-left: 0.12rem;
      color: @--color-red;
      font-family: @--font-family-light;
      font-size: @--font-size-15;
      line-height: 0.44rem;
    }
  }

  & .line-through {
    text-decoration: line-through;
  }
}

.product-brand {
  padding: 0 @--spacer-s;
  font-family: @--font-family-polc;
  font-size: @--font-size-14;
  font-weight: bold;
  line-height: 0.46rem;
  letter-spacing: 0.03rem;
}

.product-desc {
  padding: 0 @--spacer-s;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  line-height: 0.44rem;
}
