@import '../../../styles/variables.less';

.tab-wrapper {
  display: flex;
  justify-content: space-around;
  .tab-item {
    position: relative;
    padding: .34rem 0;
    font-size: .3rem;
    color: @--color-dark;
    line-height: .48rem;
    &.active::after {
      position: absolute;
      content: '';
      z-index: 2;
      left: 0;
      right: 0;
      bottom: .3rem;
      height: .04rem;
      background: @--color-dark;
    }
  }
}