@import '../../../styles/variables.less';

.wrapper {
  & .title {
    overflow: hidden;
    margin-bottom: @--spacer-m;
    padding: 0 @--spacer-m;
    font-family: @--font-family-semibold;
    font-size: @--font-size-18;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 0.56rem;
    white-space: nowrap;
  }

  & .image-box {
    margin: 0 @--spacer-m @--spacer-m;

    & img {
      width: 100%;
      vertical-align: top;
    }
  }

  & .product-list-wrap {
    margin: 0;
    padding: 0 @--spacer-s;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  & .product-item-wrap {
    width: 50%;
    margin: 0 0 @--spacer-m;
  }
}
