@import '../../../../styles/variables.less';

.slide-topic-item {
  text-align: center;
}

.slide-topic-img {
  width: 100%;
  padding-top: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-topic-title {
  overflow: hidden;
  margin-top: @--spacer-m;
  font-family: @--font-family-semibold;
  font-size: @--font-size-18;
  text-overflow: ellipsis;
  line-height: 0.56rem;
  white-space: nowrap;
}

.slide-topic-subtitle {
  overflow: hidden;
  margin-top: @--spacer-xs;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  text-overflow: ellipsis;
  line-height: 0.44rem;
  white-space: nowrap;
}
