@import '../../../styles/variables.less';

.slide-topic-container {
  overflow: hidden;
  margin: 0 0 @--spacer-m 0;
}

.slide-topic {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: -0.1rem;
  padding: 0 0 0.1rem @--spacer-m;
  list-style: none;
  white-space: nowrap;
}

.slide-topic-itemwrap {
  width: 79.5%;
  margin: 0 @--spacer-m 0 0;
  display: inline-block;
}
