@import '../../../styles/variables.less';

.product-set-container {
  position: relative;
  width: 100%;
  margin-bottom: @--spacer-m;
}

.product-set-isloading {
  min-height: 12.5rem;
}

.product-set-title {
  margin-bottom: @--spacer-m;
  padding: 0 @--spacer-m 0;
  font-family: @--font-family-semibold;
  font-size: @--font-size-18;
  text-align: center;
  line-height: 0.56rem;
}

.product-set-subTitle {
  margin-top: @--spacer-xs;
  font-family: @--font-family-light;
  font-size: @--font-size-15;
  line-height: 0.44rem;
}

.product-list-wrap {
  margin: 0;
  padding: 0 @--spacer-s;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-item-wrap {
  width: 50%;
  margin: 0 0 @--spacer-m;
}
