@import '../../../styles/variables.less';

.wrapper {
  margin-bottom: @--spacer-m;

  &.singleImageII {
    margin: 0 @--spacer-m @--spacer-s;
  }

  & .img {
    width: 100%;
    vertical-align: top;
  }
}
