@import '../../../styles/variables.less';

.wrapper {
  margin-bottom: @--spacer-m;
  padding: 0 @--spacer-m;

  & .title {
    overflow: hidden;
    margin-bottom: @--spacer-s;
    display: -webkit-box;
    font-family: @--font-family-semibold;
    font-size: @--font-size-18;
    text-overflow: ellipsis;
    line-height: 0.56rem;

    /* autoprefixer: off */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* autoprefixer: on */
  }

  & .author {
    overflow: hidden;
    font-family: @--font-family-medium;
    font-size: @--font-size-15;
    text-overflow: ellipsis;
    line-height: 0.44rem;
    white-space: nowrap;
  }

  & .topic {
    overflow: hidden;
    font-family: @--font-family-medium;
    font-size: @--font-size-15;
    text-overflow: ellipsis;
    line-height: 0.44rem;
    white-space: nowrap;
  }
}
